@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2f0e3;
  --foreground: #202020;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202020;
    --foreground: #ff7356;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-vivo-sans);
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
